body
{
	background:url(/pmemo3/images/background2.jpg) no-repeat;
	font-family:Times New Roman;
}


div.outline
{
    background-color: #FCFCFC;
    border-width: 1px; 
    border-style: SOLID; 
    border-color: blue;  
}

div.hidden
{
display:none;
}


.white_bg{
	background-color: #fff;
	valign:middle;
	height:30px;
}

.grey_bg{
	background-color: #E3E4FA;	
	valign:middle;
	height:30px;
}

.red_bg{
	background-color: #F52F2C;	
	color:blue;
}


.digiEquivsSeparator{
	background-color: #E3E4FA;	
	valign:middle;
	height:1px;
	
}



.planning{
	float: left; 
    width:"346px";
    font-weight: bold;
    color: gray;
    font-size: 12px;  
    text-align: center;
    nowrap:true
}

.parts{
	float: left; 
    width:"280px";
    font-weight: bold; 
    font-size: 12px;
    color: gray;    
    text-align: center;
    nowrap:true
}

.parts_grey{
	float: left; 
    width:"300px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true;
    color:#CCC
}

.schedule{
	float: left; 
    width:"68px";
    font-weight: bold; 
    font-size: 12px;
    color: gray;    
    text-align: center;
    nowrap:true
}

.mobile{
	float: left; 
    width:"66px";
    font-weight: bold;
    color: gray;    
    font-size: 12px;  
    text-align: center;
    nowrap:true
}

.preparation{
	float: left; 
    width:"112px";
    font-weight: bold; 
    font-size: 12px;
    color: gray;    
    text-align: center;
    nowrap:true
}

.schedule_grey{
	float: left; 
    width:"120px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true;
    color:#CCC
}

.label_copy{
	float: left; 
    width:"50px";
    font-weight: bold; 
    font-size: 12px;
    color: gray;    
    text-align: center;
    nowrap:true
}

.label_copy_grey{
	float: left; 
    width:"60px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true;
    color:#CCC
}

.rights{
	float: left; 
    width:60px;
    font-weight: bold;
    color: gray;    
    font-size: 12px;  
    text-align: center;
    nowrap:true
}

.rights_grey{
	float: left; 
    width:"60px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true;
    color:#CCC
}

.orders{
	float: left; 
    width:"192px";
    font-weight: bold; 
    font-size: 12px;
    color: gray;       
    text-align: center;
    white-space: nowrap
}

.orders_grey{
	float: left; 
    width:"300px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 11px; 
    text-align: center;
    white-space: nowrap;
    color:#CCC
}

.header_row{
	float: left; 
    width:"102px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;

}

.header_row_planning_date{
	float: left; 
	width:"88px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true
}




.header_row_planning_header{
	float: left; 
    width:"95px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true
}


.header_row_planning_status{
	float: left; 
    width:"50px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.header_row_production_console{
	float: left; 
    width:"180px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 13px;  
    text-align: center;
    nowrap:true
}
.header_row_cat_planning{
	float: left; 
    width:"95px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: left;
    nowrap:true
}

.header_row_cat{
	float: left; 
    width:"102px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: left;
    nowrap:true
}

.header_row_thin{
	float: left; 
    width:"50px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.header_row_rep_owner{
	float: left; 
    width:"70px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.header_row_thin_format{
	float: left; 
    width:"55px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;  
    nowrap:true
}
.header_row_thin2{
	float: left; 
    width:"40px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.image_header_row{
	float: left; 
    width:"58px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 10px;  
    text-align: center;
    nowrap:true
}

.image_header_row_new{
	float: left; 
    width:"35px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 10px;  
    text-align: center;
    nowrap:true
}

.image_header_row_vertical_image_planning{
	float: left; 
    width:"48px"; 
    text-align: center;
    nowrap:true;
	vertical-align: bottom;
	
}

.image_header_row_vertical_image_label_copy{
	float: left; 
    width:"56px"; 
    text-align: center;
    nowrap:true;
	vertical-align: bottom;	
}

.image_header_row_vertical_image_dig_rights{
	float: left; 
    width:"56px"; 
    text-align: center;
    nowrap:true;
	vertical-align: bottom;

}



.image_header_row_vertical_image_parts{
	float: left; 
    width:"48px"; 
    text-align: center;
    nowrap:true;
	vertical-align: bottom;	
}

.image_header_row_vertical_image_mobile{
	float: left; 
    width:"56px"; 
    text-align: center;
    nowrap:true;
	vertical-align: bottom;	
}

.image_header_row_vertical_image_eom{
	float: left; 
    width:"66px"; 
    text-align: center;
    nowrap:true;
	vertical-align: bottom;	
}

.image_header_row_vertical_image{
	float: left; 
    width:"58px"; 
    text-align: center;
    nowrap:true;
	vertical-align: bottom;
	
}

.image_header_row_orders{
	float: left; 
    width:"69px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 10px;  
    text-align: center;
    nowrap:true
}

.image_header_row_preparation{
	float: left; 
    width:"78px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 10px;  
    text-align: center;
    nowrap:true
}



.image_header_row_grey{
	float: left; 
    width:"60px";
    text-decoration: underline;
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true;
    color:#CCC
}

.filler{
	float: left; 
    width:"10px";

}

.filler_header_scheduled{
	float: left; 
    width:"8px";

}


.ic{
	float: left; 
    width:"101px";
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.ic_date{
	float: left; 
    width:102px;
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.ic_header_planning{
	float: left; 
    width:88px;
    font-size: 11px;  
    text-align: left;
    nowrap:true
}

.ic_header_planning_format{
	float: left; 
    width:80px;
    font-size: 11px;  
    text-align: left;
    nowrap:true
}

.ic_header_archived{
	float: left; 
    width:305px;
    font-size: 11px;  
    text-align: left;
    padding-left: 7px;
}



.ic_header_planning_status{
	float: left; 
    width:30px;
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.ic_production_console{
	float: left; 
    width:"180px";
    font-size: 16px;  
    text-align: center;
    nowrap:true
}

.approve_button{
	font-family:Comic Sans MS;
	font-size:9px;
	float:left;
	text-align:center;
	margin-left:15px
}

.cancel_button{
	font-family:Comic Sans MS;
	font-size:9px;
	float:right;
	text-align:center;	
	margin-right:15px
}

.ic_bold_cat{
	float: left; 
    width:"102px";
    font-size: 12px;  
    text-align: left;
    nowrap:true;
    vertical-align: top;
}

.ic_bold{
	word-wrap: break-word; 
	float: left; 
    width:95px;
    font-size: 12px;  
    text-align: left;
    vertical-align: top;
}

.ic_left{

    width:"100px";
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.ic_thin{
	float: left; 
    width:"50px";
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.ic_rep_owner{
	word-wrap: break-word; 
	float: left; 
    width:"70px";
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.ic_thin_format{
	float: left; 
    width:"52px";
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

.ic_thin_format_results{
	float: left; 
    width:"54px";
    font-size: 11px;  
    text-align: center;
    nowrap:true
}



.ic_thin2{
	float: left; 
    width:"40px";
    font-size: 11px;  
    text-align: center;
    nowrap:true
}


.image{
	float: left; 
	width:"48px";
    text-align: center;
    text-decoration: blink;
    
}

.image_dig_rights{
	float: left; 
	width:"56px";
    text-align: center;
    text-decoration: blink;
    
}

.image_mobile{
	float: left; 
	width:"56px";
    text-align: center;
    text-decoration: blink;
    
}

.image_label_copy{
	float: left; 
	width:"56px";
    text-align: center;
    text-decoration: blink;
    
}

.image_header{
	float: left; 
	width:"35px";
    text-align: center;
    text-decoration: blink;
    
}

.image_eom{
	float: left; 
	width:"66px";
    text-align: center;
    text-decoration: blink;
    
}

.image_2{
	float: left; 
	width:"56px";
    text-align: center;
    text-decoration: blink;
    
}



.image_orders{
	float: left; 
	width:"69px";
    text-align: center;
    text-decoration: blink;
    
}

.image_preparation{
	float: left; 
	width:"78px";
    text-align: center;
    text-decoration: blink;
    
}

.unattached_items{

    
    font-size: 14px;  
    text-align: center;
    width:400px;

}

.artist_title  {
    font-size: 16px;  
    text-align: left;     
    font-weight: bold;
    float:left;
 }

.back_arrow_image  {
   
    text-align: center;   
}
.planning_info{
	float: left; 
    width:"353px";
    font-size: 12px;  
    text-align: center;
    nowrap:true
}

 ul, li {
 	margin-left: 0;
 	padding-left: 0;
 	padding-top:1px;
	padding-bottom:0px;
	text-indent:0;
 	list-style-type: none;
 	height:15px;

 }


 #nav-fixed li {

 	list-style-type: none;

 


 }


hr {
	height: 0;
	border-bottom: 2px dotted #000;
	
}


	

#searchResultsBox {
	text-align:center;
	height:auto;
	width:auto;
	overflow: auto ;
	overflow-x:hidden;
	border-width:thin; 
	border-style:solid; 
	border-color:#E3E4FA;
	margin-right: 20px;
 	margin-left: 20px;
 	padding-top:10px;
	padding-bottom:10px;
}

#searchSettingsBox {
	text-align:center;
	height:auto;
	width:400;
	overflow: auto ;
	overflow-x:hidden;
	border-width:thin; 
	border-style:solid; 
	border-color:#E3E4FA;
	margin-right: 55px;
 	margin-left: 55px;
 	padding-top:10px;
	padding-bottom:10px;
}



#leftRightArrows {
	font-size: 11px;
	text-decoration:none;
	float:right;
	height:auto;
	padding-right: 5px;
 	padding-left: 5px;
 	padding-top:15px;
	padding-bottom:15px;
}

.dashboard_subheaders{
	float: left; 
    width:"255px";
	color:#333;
    font-weight: bold; 
    font-size: 14px;  
    text-align: left;
    padding-left: 3px;
    nowrap:true;
    padding-top: 1em;
}

td.header_row_cat_planning{
	float: left; 
	width:"75px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

td.header_row_cat_planning_date{
	float: left; 
	width:"88px";
    font-weight: bold; 
    font-size: 11px;  
    text-align: center;
    nowrap:true
}

td.header_row_cat_planning_prodnum{
	float: left; 
	width:"95px";	
    font-weight: bold; 
    font-size: 11px;  
    text-align: left;
    nowrap:true
}


td.header_row_cat_planning_status{
	float: left; 
	width:"30px";	
    font-weight: bold; 
    font-size: 11px;  
    text-align: left;
    nowrap:true
}


 